/* ================ Responsive Adjustments ================ */
@media (min-width: 840px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar {
        flex-direction: row;
    }

    .navbar a {
        display: block;
        flex: 2 1 100%;
    }

    #menu {
        display: none;
    }
}

@media (max-width: 768px) {
    .hero {
        height: 50vh;
        min-height: 320px;
    }
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.4rem;
    }

    .about .container {
        flex-direction: column-reverse;
        text-align: center;
    }

    .about img {
        max-width: 100%;
    }

    .stats-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .stats h2 {
        font-size: 2rem;
    }

    .services-cta .container {
        flex-direction: column;
        text-align: center;
    }

    .services h2,
    .cta h2 {
        font-size: 2rem;
    }

    .middle-image {
        max-width: 100%;
        margin: 2rem 0;
    }
}