@media (min-width: 840px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar {
        flex-direction: row;
    }

    .navbar a {
        display: block;
        flex: 2 1 100%;
    }

    #menu {
        display: none;
    }
}